/* 

*/

/* 
COLORS AND TYPOGRAPHY
---------------------------------------------------------------
*/

body {
    background: url(../images/subtle_grunge_@2X.png);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.teal {
    color: #4aaaa5;
}

.teal-bg {
    background: #4aaaa5;
    color: #ffffff;
}

.content h2 {
    color: #4aaaa5;
    font-size: 24px;
    margin: .5em 0;
    padding-bottom: 10px;
}

.content p {
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 .75em 0;
}

nav a {
    color: #777777;
    text-decoration: none;
}

nav a:hover,
nav a:active {
    color: #4aaaa5;
}

.divider {
    padding: 0 10px;
    color: #dddddd;
}

.hr {
    border-bottom: 3px solid #cccccc;
    height: 3px;
    margin-bottom: 25px;
}

.logo a,
.logo a:visited {
    color: #ffffff;
    text-decoration: none;
}

.logo h1 {
    font-size: 24px;
}


/* 
NAVBAR
---------------------------------------------------------------
*/

.logo {
    padding: 25px;
    display: inline-block;
    width: auto;
}


nav {
    float: right;
    margin-top: 30px;
}

nav li {
    display: inline;
}

nav li.divider {
    margin-left: 10px;
}


/* 
PORTFOLIO PAGE
---------------------------------------------------------------
*/

/* .row {
    width: 100%;
    display: block;
    height: 200px;
    clear: both;
    margin-bottom: 25px;
}

.row.last {
    margin-bottom: 0;
} */

.portfolio-container {
    margin-left: -25px;
    margin-right: -25px;
}

.portfolio-item {
    float: left;
    height: 200px;
    display: block;
    margin: 0 0 20px 25px;
}

.portfolio-item.last {
    margin-right: 0;
}

.portfolio-item-description {
    background: #4aaaa5;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    position: relative;
    bottom: 60px;
}

/* 
CONTACT PAGE
---------------------------------------------------------------
*/

.form-item {
    display: block;
    margin-bottom: 25px;
}
input, textarea {
    border: 1px solid #dddddd;
}

label {
    display: block;
    margin-bottom: 10px;
}

#name,
#email,
#message {
    width: 100%;
    padding: 10px;
}

button {
    background: #4aaaa5;
    padding: 10px 25px;
    color: #ffffff;
    font-size: 18px;
}

button:hover,
button:active {
    background: #357874;
}

/* 
FOOTER
---------------------------------------------------------------
*/

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    background: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

footer p {
    margin-top: 25px;
    font-size: .75em;
    color: #cccccc;
}

/* 
DEFAULT WIDTHS & POSITIONS
---------------------------------------------------------------
*/

.navbar-wrapper {
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #dddddd;
}

.navbar {
    padding: 25px 0 0 0;
    width: 960px;
    margin: 0 auto;
}

.content-wrapper {
    width: 960px;
    margin: 25px auto 0 auto;
}

.content {
    padding: 25px;
    background: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
}

.float-left {
    float: left;
    margin: 0 25px 25px 0;
}

.myphoto {
    width: 200px;
    height: 200px;
}

.portfolio-item img {
    width: 286px;
}

/* 980px, 768px and 640px */

@media screen and (max-width: 980px) {

    .navbar {
        padding: 0;
        width: 900px;
    }

    .content-wrapper {
        width: 900px;
        /* same margin as default */

    }

    .content {
        width: 600px;
    }

    .portfolio-item.last {
        margin-right: 0;
    }

}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0;
        width: 730px;
    }

    .content-wrapper {
        width: 730px;
    }

    .content {
        width: 680px;
    }

    .myphoto {
        width: 50%;
        height: auto;
    }

    .portfolio-item img {
        width: 325px;
    }
    .portfolio-item {
        height: 220px;
    }
}

@media screen and (max-width: 640px) {

    .navbar-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .navbar {
        padding: 0;
        width: 100%;
    }

    .logo {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }

    nav {
        display: block;
        width: 100%;
        float: none;
        margin: 0;
        padding: 20px 0;
        text-align: center;
    }

    .content-wrapper {
        width: 600px;
        margin: 10px auto;

    }

    .content {
        margin: 0 0 75px 0;
        width: 550px;
    }

    .myphoto {
        width: 100%;
        height: auto;
    }

    .portfolio-item {
        height: 380px;
    }

    .portfolio-item img {
        width: 550px;
    }
}